/* variables */
:root {
  --color-blank: #F0F0F0;
  --color-blank-border: #E0E0E0;
  --color-drawn: #707070;
  --color-drawn-border: #606060;
  --color-fill: #FFF5F5;
  --color-fill-border: #E5DCDC;
  --color-text: #191818;
  --color-text-large: #323030;
}

/* selectors */
*, *:before, *:after {
  box-sizing: border-box;
}
html, body {
  color: var(--color-text);
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
a:-webkit-any-link {
  text-decoration: none;
}
a:-webkit-any-link:hover {
  text-decoration: underline;
}
h1 {
  color: var(--color-text-large);
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 2;
}
p {
  font-size: 1rem;
}
small {
  font-size: 85%;
}
img {
  height: auto;
  line-height: 0;
  object-fit: cover;
  width: auto;
}
button {
  background-color: transparent;
  border: 0;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
}
.fill {
  background-color: var(--color-fill);
}
.page {
  background-color: var(--color-blank);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 1rem;
  width: inherit;
}
header,
main,
footer {
  display: flex;
  width: 100%;
}
header {
  align-items: center;
  background-color: var(--color-fill);
  flex-direction: row;
  height: 4rem;
}
.header-content {
  flex-direction: row;
  height: 100%;
  justify-content: space-between;
}
nav {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
main {
  flex: 1;
  flex-direction: column;
}
.main-content {
  max-width: fit-content;
  padding: 1.5rem 1rem;
}
.title {
  text-align: center;
}
.canvas-box {
  line-height: 0;
  min-height: fit-content;
  min-width: fit-content;
  overflow: hidden;
  position: relative;
}
.canvas {
  box-sizing: content-box;
  height: 320px;
  width: 640px;
}
#sketch-canvas {
  background-color: var(--color-blank);
  border: 2px solid var(--color-blank-border);
}
#grid-canvas,
#cursor-canvas {
  background-color: transparent;
  border: 2px solid transparent;
  left: 0;
  position: absolute;
  top: 0;
}
#grid-canvas {
  opacity: .5;
}
.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.display,
.settings {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.display {
  padding: 1rem;
}
.settings label,
.settings button {
  font-size: 1.25rem;
}
.display button,
.settings button {
  background-color: var(--color-fill);
  border: 2px solid var(--color-fill-border);
  cursor: pointer;
}
.display button:hover,
.settings button:hover {
  background-color: var(--color-fill-border);
}
.setting {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  padding: 1rem;
}
footer {
  background-color: var(--color-blank);
  flex-direction: column;
}
.footer-content {
  justify-content: space-between;
  padding: 1.5rem 1rem;
}

/* media queries */
@media screen and (min-width: 425px) {
  .content {
    align-items: center;
    padding: 0 3rem;
  }
  .main-content {
    padding: 1.5rem 3rem;
  }
  .footer-content {
    padding: 1.5rem 3rem;
  }
}
@media screen and (min-width: 768px) {
  footer {
    justify-content: space-evenly;
  }
}
